<h1>Log In Below:</h1>

<form action="/sessions" method="post">
    <p><label for "email"> Email: </label>
    <input id= "email" type="text" name="email"></input></p>
    <p><label for "password"> Password: </label>
    <input id= "password" type="text" name="password"></input></p>
    <input id= "Log In" type="submit">
    </form>