<h1>Sign Up Below:</h1>


<form action="/registrations" method="post">
    <p><label for "name"> Name: </label>
    <input id= "name" type="text" name="name"></input></p>
    <p><label for "email"> Email: </label>
    <input id= "email" type="text" name="email"></input></p>
    <p><label for "password"> Password: </label>
    <input id= "password" type="text" name="password"></input></p>
    <input id= "Sign Up" type="submit">
    </form>